.row{
    margin-right: 0px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
}
h5{
    margin-top: 20px;
}

.posters{
    display: inline-flex;
    overflow-x: scroll;
    overflow-y: hidden;  
    margin-bottom: 10px;
    
    
}

.posters::-webkit-scrollbar{
    display: none;
    
}
.poster-content{
    position: relative;
    margin: 10px;
}

.poster{
    max-width: 166.66px;
    height: 250px;
    z-index: 25;
    opacity: 1;
    object-fit: fill;
}


.poster-view{
    position: relative;
    max-width: 166.66px;
    height: 80px;
    background-color: #1c2631;
    
   
}
.movie-name{

font-size: medium;
cursor: pointer;
font-weight: 600;
padding: 5px;
margin: 0px;
overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 1; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.movie-year{
    margin: 0px;
    padding-left: 5px;
}
.playbtnimg{
    display: inline-block;
    width: 50px;
    z-index: 30;
    position: absolute;
    top: 60%;
    left: 0px;
    cursor: pointer;
}
.plusbtn{
    height: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}
.plusbtntext{
    font-size: 40px;
    padding: 0px;
    margin: 0px;
}
.mainsection{
    position: relative;
}
.popupwindow{
    z-index: 40;
    position: absolute;
    top: 20%;
    left: 10%;
    right: 10%;
}
.poster:hover{
    opacity: 0.3;
}







