body{
    background-color: #232f3e;
}
.main-body{
    width: 100%;
    position: relative;
    z-index: 1000;
    
}
.navbar{

    height: 50px;
    display: flex;
    justify-content: space-between;
    
}

.navbar-collapse{
    background-color: #232f3e;
    
}
.bgcolor{
    background-color: #232f3e;
}
.nav-primary{
    display: flex;
}
.left-section{
    flex: 1;
}
.right-section{
    flex:3;
    position: absolute;
    right: 30px;
 
   
   
    
}
.logo{
    
    left: 10px;
    width: 100px;
}
a{
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    
}
a:hover, a:focus {
    color: #ffffff;
    text-decoration: underline;
}
li{
    list-style: none;
    margin-left: 5px;
    color: #adb3af;
    margin-right: 10px;
    margin-left: 10px;
}
.search-box{
    
    width: 250px;
    box-sizing: border-box;
    border: 2px solid gray;
    border-radius: 5px;
    margin: 0px;
    padding: 2px;
    display: flex;
    
    ;
    
}
.search-bar{
    margin: 0px;
    background-color: transparent;
    color: white;
    height: 100%;
    outline: none;
    border: none;
    
}
.search-button{
    color: whitesmoke;
    padding: 3px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
